<%= simple_form_for @bookmark, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name, label: "Name (type or download from meta-data)" %>
  <%= f.input :short_link, label: "URL" %>
  <%= f.input :tag_list, label: "Tag List (Separate by comas):" %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bookmarks_path, :class => 'btn' %>
  </div>
<% end %>
