<%- model_class = Bookmark -%>

<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<%= form_tag bookmarks_path, :method => 'get', :html => { :class => 'form-vertical' } do %>
  <h4>Search By</h4>
	<div class="control-group">
  		<%= label_tag :name, "Name", class: "control-label" %>
    	<div class="controls">
    	<%= text_field_tag :name, params[:name], class: "text-field" %>
    	</div>
  	</div>
    <div class="control-group">
  		<%= label_tag :description, "Description", class: "control-label" %>
    	<div class="controls">
    	<%= text_field_tag :description, params[:description], class: "text-field" %>
		</div>
  	</div>
    <div class="control-group">
		<%= label_tag :short_link, "Short_link", class: "control-label" %>
    	<div class="controls">
    	<%= text_field_tag :short_link, params[:short_link], class: "text-field" %>
    	</div>
  	</div>
  	<div class="form-actions">
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
       <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:short_link) %></th>
      <th><%= model_class.human_attribute_name(:page) %></th>      
      <th><%= model_class.human_attribute_name(:tag_list) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.name, bookmark_path(bookmark) %></td>
        <td><%= bookmark.description %></td>
        <td><%= bookmark.short_link %></td>
        <td><%= bookmark.page.domain %></td>
        <td><%= raw bookmark.tags.map(&:name).map { |t| link_to t, tag_path(t), class: "label" }.join(', ') %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bookmark_path(bookmark), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bookmark_path(bookmark),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bookmark_path,
            :class => 'btn btn-primary' %>
