<%- model_class = Bookmark -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @bookmark.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:short_link) %>:</strong></dt>
  <dd><%= link_to @bookmark.short_link, @bookmark.short_link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:page_id) %>:</strong></dt>
  <dd><%= @bookmark.page.domain %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @bookmark.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tag_list) %>:</strong></dt>
  <dd><%= raw @bookmark.tag_list.map { |tag| link_to tag, tag_path(tag), class: "label" }.join(", ") %></dd>
</dl>

	
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pages_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bookmark_path(@bookmark), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bookmark_path(@bookmark),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
