<%= simple_form_for @search_results, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :short_link, label: "URL" %>
  <%= f.label :tags %>
  <%= f.simple_fields_for :tags do |builder| %>
  	<%= builder.input :name, label: false %>
  	<%= builder.label "Destroy Tag", class: "label label-default"%>
  	<%= builder.check_box :_destroy %>
  	
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bookmarks_path, :class => 'btn' %>
  </div>
<% end %>
