<%= simple_form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :domain %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pages_path, :class => 'btn' %>
  </div>
<% end %>
